*{
    margin: 0;
    box-sizing: border-box;
}
Div{
    width: 300px;
    height: 300px;
    /* transition: 2s; */
   
}
div:nth-child(1){
    background-color: pink;
}
div:nth-child(2){
    background-color:chartreuse;
    mix-blend-mode: darken;
    background-image:url(eagle.png
    );
    background-blend-mode: luminosity; 
    filter: none;
}
div:hover{
    margin-top: -300px;
}