


@font-face {
  font-family: 'fontname';
  src: url(better-grade-font/BetterGrade-519DV.ttf);
}
@font-face {
  font-family: 'joy';
  src: url(hugh-is-life-font/HughIsLifePersonalUseItalic-K7axe.ttf);
}
@font-face {
  font-family: 'dinu';
  src: url(organical-font/OrganicalPersonalUseBoldItalic-2O6xe.ttf);
}
/* p {
  color: red;
font-family: joy;
font-size: 30px;
font-weight: 1000px;
} */
h2{
  font-family:dinu  ;
  color: blueviolet;
  font-size: 50px;
  font-weight: 1000px;
}
h1{
  font-size: 65px;
  font-weight: normal;
  font-weight: bold;
}
p{
  font-weight: bold;
  font-style: normal;
  font-style: italic;
  font-variant: normal;
  font-variant: small-caps;
  line-height: 2;

}