*{
    margin: 0;
    box-sizing: border-box;
}
table{
    width: 400px;
   
    border: 5px solid orange;
      /* border-collapse: separate; */
     /* border-collapse: collapse;  */
    border-spacing: 10px;
    /* padding: 5px; */
    /* empty-cells: show; */
    /* empty-cells: hide;
    caption-side: bottom;
    table-layout: auto;
    table-layout: fixed;
     */
    /* text-align: center; */
   
}
 tr, td{
    border: 1px solid red;
    padding: 20px;
    background-color: pink;
    /* vertical-align:top; */
    vertical-align: bottom;
}
td:empty{
    background-color: red;
}