/* p{
color:greenyellow;
text-decoration-line: line-through;
text-decoration-line: none;
text-decoration-line: underline; 
 text-decoration-line: overline;
text-decoration-color: blue;
text-decoration-thickness: 3px;
text-decoration-line: underline;
text-decoration-skip-ink: none;
text-decoration-style:dashed;
text-decoration: wavy;
}

h1{
text-decoration-style:dashed;
text-decoration: wavy;
}
 */
h2 {
  /* text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: tomato;
    text-decoration-style: dashed;
    text-decoration-style:  dotted;
    text-decoration-style: double;
    text-decoration-style: solid;
 
   text-decoration-skip-ink: none;
*/
  /* text-decoration: underline wavy #f00 5px ; */
}
h1 {
  /* text-shadow: x-offset  y- offset blur redius color 
*/

  text-shadow: 30px 0px 1px red, -0px -30px 1px chartreuse, -0px -0px 0px pink;
  color: aqua;
}

h2 {
  text-shadow: 1px 1px 1px chartreuse, 1px 1px 1px red, 0px 0px 0px pink;
  color: orange;
}
h3 {
  -webkit-text-emphasis-style: none;
  -webkit-text-emphasis-style: circle;
  -webkit-text-emphasis-style: sesame;
  -webkit-text-emphasis-style: triangle;
  -webkit-text-emphasis-style: double-circle;
  -webkit-text-emphasis-style: filled;
  -webkit-text-emphasis-style: open;
  -webkit-text-emphasis-style: "dinesh";
}
span {
  -webkit-text-emphasis-style: "sesame";
  -webkit-text-emphasis-color: red;
  -webkit-text-emphasis-position: under;
}
/* p {
  color: brown;
  text-transform: lowercase;
  text-transform: uppercase;
  text-transform: capitalize;
  text-transform: none;
} */
/* p{border: 1px solid red;
    text-align: center;
    text-align: left;
    text-align: right;
    text-align: justify;
    /* text-align-last: right;
    text-align-last: left; */
    /* text-align-last :justify;
    text-align-last: center; 
    */

/* p{ border: 1px solid red;
    word-spacing: normal;
    word-spacing: 10px;

    letter-spacing: normal;
    letter-spacing:00px;
    text-indent: 100px;
    text-indent: 50%;

} */
input{
    text-indent:20px;
}
p{
  /* white-space: normal;
  white-space: pre;
  white-space: nowrap;
  white-space: pre-wrap;
  white-space: pre-line;
 */


  /* word-break: normal;
  word-break: keep-all; */
  /* word-break: break-all; */
  hyphens: none;
  hyphens: auto;
  hyphens: manual;
}